*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width:100%;
}
.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
    border-bottom: 1px solid #bdbdbe;
}
.arrow img{
    width: 20px;
    height: 22px;
}
.text{
    font: size 12px;
    justify-content: center;
}
.det{
    display:flex;
    justify-content: space-between;
    align-items: center; 
}
.right{
    align-items: right;
}
.details{
        padding-top: 50px;
        margin-top: 20px;
}

.bio{
    border-bottom: 1px solid #a1a1a1;
}
.images{
    display:flex;
    align-items: center; 
    gap:90px;
    justify-content: center;
    margin-top: 20px;
}

